FOOTBALL_ORG_API_TOKEN=exampletoken

DATABASE_NAME_DEV=exampledatabase
DATABASE_NAME_TEST=exampledatabasetest

DATABASE_USERNAME=exampleuser
DATABASE_PASSWORD='examplepassword'

DATABASE_PORT=exampleport

DATABASE_ADMIN_PASSWORD='examplepostgresadminpassword'