
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Futnews App, <%= @user.email %></h1>
    <p>
      You have successfully created an account.
    </p>
    <p>
      To validate your account, you can click the following link: <%= link_to "activate account", "http://localhost:9090/home" %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>