
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Futnews App!</h1>
    <p>
      You have successfully created an account.
    </p>
    <p>
      To validate your account, you can click the following link: <%= link_to "activate account", "#{FRONTEND_DOMAIN}/confirm-new-user/#{@user.id}" %>
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>